body {
    font-family: Arial;
    background: #f4f7f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* MAIN TITLE */
h1 {
    color: green;
    margin-top: 20px;
}

/* COMMON BOX */
.container {
    width: 450px;
    min-height: 400px;   /* increases height */
    margin: 50px auto;
    background: white;
    padding: 40px;       /* more inner space */
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* INPUT FIELDS */
input, select {
    width: 90%;
    padding: 15px;      /* bigger input height */
    margin: 12px;
    font-size: 16px;    /* better readability */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* BUTTONS */
button {
    width: 95%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/* GREEN BUTTON */
.green {
    background: green;
    color: white;
}

/* YELLOW BUTTON */
.yellow {
    background: yellow;
    font-weight: bold;
    color: black;
}

/* CROP GRID AFTER LOGIN */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 10px;
}

/* CROP BOX */
.box {
    background: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

/* CROP IMAGES (IMPORTANT FIX) */
.box img {
    width: 500px;   /* increased size */
    height: 200px;   /* increased size */
    object-fit: cover;
    display: block;
    margin: auto;
}

/* TEXT INSIDE BOX */
.box p {
    margin: 5px 0;
    font-size: 14px;
}

/* THANK YOU PAGE IMAGE */
.thankyou-img {
    width: 900px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 80px auto;
}
.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: green;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: none;
    z-index: 9999;
    text-align: center;
}

.ok-btn {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    background: white;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}